@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


.circle {
    opacity: .5;
}

ul {
    list-style: none;
}

.field-name {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    /* fill: white; */
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}
.field-name:hover {
    fill: white;
}

svg {
    margin-top: 80px;
}

/* svg path {
  transform: scale(0.9);
} */

/* toDO block */

.toDoBlock {
    margin-top: 20px;
}

.FieldNameToDo {
    font-size: 24px;
}
.toDoWrapper {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.toDoBlock ul {
    align-items: center;
}
.toDoBlock li {
    max-width: 200px;
    text-align: left;
    margin-right: 0;
}

.ant-dropdown-link {
    margin-left: 20px;
}

.todo-item {
  position: relative;
  left: 0;
  max-height: 200px;
  opacity: 1;
  transition: 0.3s all;
}
.todo-item.deleting {
  opacity: 0;
  max-height: 0;
  left: 40px;
}

.AllToDoUl {
    margin-top: 40px;
}